<app-form-core [title]="'Settings'" [icon2]="'bi bi-gear-fill'">
  <!---->
  <app-input-text [label]="'Name'" class="col-md-6"/>
  <app-input-text-long [label]="'Description'" class="col-md-6"/>
  <!---->
  <app-input-select [label]="'Type'" class="col-md-6">
    <option value="1">Full</option>
    <option value="2">Incremental</option>
    <option value="3">Differencial</option>
  </app-input-select>
  <app-input-switch [label]="'Compress'" class="col-md-6"/>
  <!-- -->
  <app-input-number [label]="'Package size'" class="col-md-6"/>
  <app-input-number [label]="'Retention'" class="col-md-6"/>
  <!-- -->
  <app-input-cron [label]="'Interval'" class="col-md-6"/>
  <app-input-date [label]="'End of interval'" class="col-md-6"/>
  <!-- -->
  <app-input-path [label]="'Source paths'" class="col-md-6"/>
  <app-input-path [label]="'Destination paths'" class="col-md-6"/>
  <!-- -->
  <app-input-multiselect [label]="'Computers'" class="col-md-6"/>
  <app-input-multiselect [label]="'Groups'" class="col-md-6"/>
</app-form-core>
