<app-form-core [title]="title" [icon2]="'bi bi-gear-fill'">
  <form
    [formGroup]="form"
    class="row g-3"
    autocomplete="off"
    onsubmit="document.getElementById('myButton').click();"
  >
    <!-- -->
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="name"
      label="Name"
      formControlName="name"
    />
    <app-input-text-long
      class="col-md-6"
      [parentForm]="form"
      fieldName="description"
      label="Description"
      formControlName="description"
    />
    <!-- <app-input-text [label]="'Name'" class="col-md-6"/>
    <app-input-text-long [label]="'Description'" class="col-md-6"/> -->
    <!---->
    <app-input-select
      class="col-md-6"
      [parentForm]="form"
      fieldName="type"
      label="Type"
      formControlName="type"
    >
      <option value="Full">Full</option>
      <option value="Inc">Incremental</option>
      <option value="Diff">Differencial</option>
    </app-input-select>
    <app-input-switch
      class="col-md-6"
      [parentForm]="form"
      fieldName="isCompressed"
      label="Compress"
      formControlName="isCompressed"
    />
    <!-- -->
    <app-input-number
      class="col-md-6"
      [parentForm]="form"
      fieldName="packageSize"
      label="Package size"
      formControlName="packageSize"
    />
    <app-input-number
      class="col-md-6"
      [parentForm]="form"
      fieldName="retention"
      label="Retention"
      formControlName="retention"
    />
    <!-- <app-input-number [label]="'Package size'" class="col-md-6"/>
    <app-input-number [label]="'Retention'" class="col-md-6"/> -->
    <!-- -->
    <app-input-cron
      class="col-md-6"
      [parentForm]="form"
      fieldName="backup_interval"
      label="Interval"
      formControlName="backup_interval"
    />
    <app-input-date
      class="col-md-6"
      [parentForm]="form"
      fieldName="interval_end"
      label="End of interval"
      formControlName="interval_end"
    />
    <!-- -->
    <app-input-path [label]="'Source paths'" class="col-md-6" />
    <app-input-path [label]="'Destination paths'" class="col-md-6" />
    <!-- -->
    <app-input-multiselect
      [label]="'Computers'"
      class="col-md-6"
      [Data]="pcList"
    />
    <app-input-multiselect
      [label]="'Groups'"
      class="col-md-6"
      [Data]="groupList"
    />
    <!-- -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="close()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="save()"
        id="myButton"
      >
        Save
      </button>
    </div>
  </form>
</app-form-core>
