<app-datagrid>
  <app-btn-add (clicked)="createGroup()" btn/>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Computers</th>
      <th scope="col">Config</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups; index as i" (click)="editGroup(group)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ group.name }}</td>
      <td>{{ group.description }}</td>
      <td><td-array [items]="group.machines" [style]="'chip chip-blue'"/></td>
      <td><td-array [items]="group.configs" [style]="'chip chip-green'"/></td>
    </tr>
  </tbody>
</app-datagrid>
