<app-form-core [title]=title [icon]="'pc'">
  <form [formGroup]="form" class="row g-3" autocomplete="off">
    <!-- -->
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="name"
      label="Name"
      formControlName="name"
    />
    <app-input-text-long
      class="col-md-6"
      [rows]="1"
      [parentForm]="form"
      fieldName="description"
      label="Description"
      formControlName="description"
    />
    <!-- -->
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="ip_Address"
      label="IPv4"
      formControlName="ip_Address"
      [isReadonly]=true
    />
    <app-input-switch [label]="'isActive'" class="col-md-6"/>
    <!-- -->
    <app-input-multiselect [label]="'Configs'" class="col-md-6"/>
    <app-input-multiselect [label]="'Groups'" class="col-md-6"/>
    <!-- -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="close();">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </form>
</app-form-core>
