<div class="form-floating hstack">
  <input
    type="{{ passwordVisible ? 'text' : 'password' }}"
    class="form-control icon-input"
    id="floatingPassword"
    placeholder="Password"
    value="{{ value }}"
    [(ngModel)]="value"
    (input)="onInput()"
  />
  <i
    class="bi password-toggle"
    [ngClass]="{
      'bi-eye': !passwordVisible,
      'bi-eye-slash': passwordVisible
    }"
    (click)="togglePasswordVisibility()"
  ></i>
  <label for="floatingPassword">{{ label }}</label>
</div>
