<app-form-core [title]=title [icon]="'group'">
  <form [formGroup]="form" class="row g-3" autocomplete="off">
    <!-- -->
    <app-input-text [label]="'Name'" class="col-md-6"/>
    <app-input-text-long [label]="'Description'" [rows]="1" class="col-md-6"/>
    <!-- -->
    <app-input-multiselect [label]="'Configs'" class="col-md-6"/>
    <app-input-multiselect [label]="'Computers'" class="col-md-6"/>
    <!-- -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </form>
</app-form-core>
