<app-form-core [title]=title [icon]="'group'">
  <form [formGroup]="form" class="row g-3" autocomplete="off">
    <!-- -->
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="name"
      label="Name"
      formControlName="name"
    />
    <app-input-text-long
      class="col-md-6"
      [rows]="1"
      [parentForm]="form"
      fieldName="description"
      label="Description"
      formControlName="description"
    />
    <!-- -->
    <app-input-multiselect [label]="'Configs'" class="col-md-6" [Data]="cfgList"/>
    <app-input-multiselect [label]="'Computers'" class="col-md-6" [Data]="pcList"/>
    <!-- -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="close();">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </form>
</app-form-core>

<!-- <div *ngFor="let item of pcList">
  <span>{{item.id}}|{{item.name}}</span>
</div> -->
