<app-form-core [title]="title" [icon]="'users'">
  <form
    [formGroup]="form"
    class="row g-3"
    autocomplete="off"
    onsubmit="document.getElementById('myButton').click();"
  >
    <!-- -->
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="name"
      label="Name"
      formControlName="name"
    />
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="email"
      label="Email"
      formControlName="email"
    />
    <!-- -->
    <app-input-cron
      class="col-md-6"
      [parentForm]="form"
      fieldName="interval_Report"
      label="Interval"
      formControlName="interval_Report"
    />
    <!-- -->
    <app-input-password
      class="col-md-6"
      [parentForm]="form"
      fieldName="password"
      label="Password"
      formControlName="password"
    >
    </app-input-password>
    <!-- <app-input-password
        class="col-md-6"
        [parentForm]="form"
        fieldName="password2"
        label="Repeat password"
        formControlName="password2">
      </app-input-password> -->
    <!-- -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-primary" (click)="close()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        id="myButton"
        (click)="save()"
      >
        Save
      </button>
    </div>
  </form>
</app-form-core>
