@import "./../../../assets/styles/colors.scss";

.sidebar {
  background-color: $bg-field;
  width: 80px;
  height: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $bg-sep;
}

.sidebar-account {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 5px;
  left: 25px;
}
