<div class="sidebar items">
  <div class="top">
    <a class="sidebar-logo">
      <img src="\assets\svg\logo.svg" />
    </a>

    <app-sidebar-btn
      [title]="'Dashboard'"
      [icon]="'dashboard'"/>
    <app-sidebar-btn
      [title]="'Groups'"
      [icon]="'group'"/>
    <app-sidebar-btn
      [title]="'Machines'"
      [icon]="'pc'"/>
    <app-sidebar-btn
      [title]="'Jobs'"
      [icon]="'job'"/>
    <app-sidebar-btn
      [title]="'Users'"
      [icon]="'users'"/>
    <app-sidebar-btn
      [title]="'Configs'"
      [icon]="'settings'"/>
  </div>
  <div class="bottom" class="d-flex justify-content-center mb-2">
    <app-sidebar-btn-settings [username]="'User_1'"/>
  </div>
</div>
