<div class="sidebar items">
  <div class="top">
    <a href="#" class="sidebar-logo" placement="end" ngbTooltip="Machines">
      <img src="\assets\svg\logo.svg" />
    </a>
    <a
      href="#dashboard"
      class="sidebar-item"
      placement="end"
      ngbTooltip="Dashboard"
    >
      <img src="\assets\svg\dashboard.svg" />
    </a>
    <a href="#groups" class="sidebar-item" placement="end" ngbTooltip="Groups"
      ><img src="\assets\svg\group.svg" />
    </a>
    <a
      href="#machines"
      class="sidebar-item"
      placement="end"
      ngbTooltip="Machines"
      ><img src="\assets\svg\pc.svg" />
    </a>
    <a href="#jobs" class="sidebar-item" placement="end" ngbTooltip="Jobs">
      <img src="\assets\svg\job.svg" />
    </a>
    <a href="#users" class="sidebar-item" placement="end" ngbTooltip="Users">
      <img src="\assets\svg\users.svg" />
    </a>
    <a
      href="#configs"
      class="sidebar-item"
      placement="end"
      ngbTooltip="Settings"
    >
      <img src="..\assets\svg\settings.svg" />
    </a>
  </div>

  <div class="bottom">
    <a href="#account" class="sidebar-item">
      <img src="\assets\svg\profile.svg" />
    </a>
  </div>
</div>
