<app-datagrid>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Group</th>
      <th scope="col">Config</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of machines; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td class="d-flex align-items-center gap-2">
        <i
          class="bi bi-circle-fill text-primary"
          style="font-size: 0.5em"
          [ngClass]="{
            'text-primary': machine.is_Active === true,
            'text-danger': machine.is_Active === false
          }"
        ></i>
        <span>{{ machine.name }}</span>
      </td>
      <td>{{ machine.description }}</td>
      <!-- <td>
        <td-array [items]="machine.group" [style]="'chip chip-blue'"/>
      </td>
      <td>
        <td-array [items]="machine.config" [style]="'chip chip-purple'"/>
      </td> -->
    </tr>
  </tbody>
</app-datagrid>
