.container {
  display: flex;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.main {
  flex: 1;
  margin-left: 80px; //offset the sidebar width
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.content {
  //margin: 20px;
  //<router-outlet> is just one object, things what need to center are inside it so flex box here wont work
}
