.container {
  display: flex;
  gap: 100;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.main {
  flex: auto;
  margin-left: 70px;
}

.header {
}

.content {
  //margin: 20px;
  //<router-outlet> is just one object, things what need to center are inside it so flex box here wont work
}
