<div class="container g-0">
  <label for="input1" class="form-label">{{ label }}</label>
  <div class="input-group mb-2">
    <input
      type="text"
      class="form-control"
      id="input1"
      (keyup.enter)="addItem(); newItem = ''"
      [(ngModel)]="newItem"
    />
    <button class="btn btn-outline-secondary" type="button" (click)="addItem()">
      +
    </button>
  </div>
  <ul class="list-group">
    <li
      *ngFor="let item of items"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>{{ item }}</span>
      <!--class="text-truncate"-->

      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="deleteItem(item)"
      ></button>
    </li>
  </ul>
</div>
