<app-datagrid>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"><i class="bi bi-file-earmark-zip" placement="top" ngbTooltip="isZip"></i></th>
      <th scope="col">Type</th>
      <th scope="col"><i class="bi bi-arrow-repeat" placement="top" ngbTooltip="Retention"></i></th>
      <th scope="col"><i class="bi bi-box2-fill" placement="top" ngbTooltip="Package size"></i></th>
      <th scope="col">Interval</th>
      <th scope="col">Destinations</th>
      <th scope="col">Sources</th>
      <th scope="col">Computers</th>
      <th scope="col">Groups</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let config of configs; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ config.name }}</td>
      <td><i class="bi bi-{{config.isZip ? 'check' : 'x'}}-lg"></i></td>
      <td>
        <span
          class="chip mx-1"
          [ngClass]="{
            'chip-green': config.type === 'full',
            'chip-yellow': config.type === 'diff',
            'chip-purple': config.type === 'inc'
          }">
          {{ config.type.toLocaleUpperCase() }}
        </span>
      </td>
      <td>{{ 1 }}</td>
      <td>{{ config.rentention }}</td>
      <td>{{ config.interval }}</td>
      <td><td-array [items]="config.destinations" [style]="'chip chip-gray'"/></td>
      <td><td-array [items]="config.sources" [style]="'chip chip-gray'"/></td>
      <td><td-array [items]="config.machines" [style]="'chip chip-blue'"/></td>
      <td><td-array [items]="config.groups" [style]="'chip chip-purple'"/></td>
    </tr>
  </tbody>
</app-datagrid>
