<app-datagrid>
  <app-btn-add (clicked)="createUser()" btn/>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Interval for report</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.interval_Report }}</td>
      <td class="text-left">
        <button type="button" class="btn btn-link text-info" (click)="editUser(user)">
          <i class="bi bi-pencil"></i>
        </button>
        <button type="button" class="btn btn-link text-danger" (click)="deleteUser(user)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</app-datagrid>
