<app-datagrid>
  <app-form-config btn/>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">Name</th> -->
      <th scope="col"><i class="bi bi-file-earmark-zip" placement="top" ngbTooltip="isZip"></i></th>
      <th scope="col">Type</th>
      <th scope="col"><i class="bi bi-arrow-repeat" placement="top" ngbTooltip="Retention"></i></th>
      <th scope="col"><i class="bi bi-box2-fill" placement="top" ngbTooltip="Package size"></i></th>
      <th scope="col">Interval</th>
      <th scope="col">Destinations</th>
      <th scope="col">Sources</th>
      <!-- <th scope="col">Computers</th>
      <th scope="col">Groups</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let config of configs; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <!-- <td><b>{{ config.name }}</b></td> -->
      <td><i class="bi bi-{{config.isCompressed ? 'check' : 'x'}}-lg"></i></td>
      <td>
        <div class="chip mx-1">
          <span class="chip-green" *ngIf="config.type === 0">FULL</span>
          <span class="chip-yellow" *ngIf="config.type === 1">DIFF</span>
          <span class="chip-purple" *ngIf="config.type === 2">INC</span>
        </div>
      </td>
      <td>{{ config.retention }}</td>
      <td>{{ config.packageSize }}</td>
      <td>{{ config.backup_interval }}</td>
      <td><td-array [items]="config.destinations" [style]="'chip chip-gray'"/></td>
      <td><td-array [items]="config.sources" [style]="'chip chip-gray'"/></td>
      <!-- <td><td-array [items]="config.machines" [style]="'chip chip-blue'"/></td>
      <td><td-array [items]="config.groups" [style]="'chip chip-purple'"/></td> -->
    </tr>
  </tbody>
</app-datagrid>
