<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title">Settings</h4>
    <i></i>
  </div>
  <div class="modal-body">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="email" class="form-control" id="inputName" />
      </div>
      <div class="col-md-6">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="inputDescription"
          rows="1"
        ></textarea>
      </div>
      <!---->
      <div class="col-md-6">
        <label for="inputType" class="form-label">Type</label>
        <select class="form-select" aria-label="Type" id="inputType">
          <option selected></option>
          <option value="1">Full</option>
          <option value="2">Incremental</option>
          <option value="3">Differencial</option>
        </select>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="form-check form-switch form-check-reverse">
          <label class="form-check-label" for="flexSwitchCheckChecked"
            >Compress</label
          >
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
          />
        </div>
      </div>
      <!-- -->
      <div class="col-md-6">
        <label for="inputSize" class="form-label">Package size</label>
        <input type="number" class="form-control" id="inputSize" />
      </div>
      <div class="col-md-6">
        <label for="inputRetention" class="form-label">Retention</label>
        <input type="number" class="form-control" id="inputRetention" />
      </div>
      <!-- -->
      <div class="col-md-6">
        <label for="inputCron" class="form-label">Interval</label>
        <input type="text" class="form-control" id="inputCron" />
      </div>
      <div class="col-md-6">
        <label for="inputDate" class="form-label">End of interval</label>
        <input type="date" class="form-control" id="inputDate" />
      </div>
      <!-- -->
      <div class="col-md-6">
        <app-input-path [label]="'Source paths'"/>
      </div>
      <div class="col-md-6">
        <app-input-path [label]="'Destination paths'"/>
      </div>
      <!-- -->
      <div class="col-md-6">
        <app-input-multiselect [label]="'Computers'"/>
      </div>
      <div class="col-md-6">
        <app-input-multiselect [label]="'Groups'"/>
      </div>
    </form>
  </div>
  <!--Footer-->
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Save
    </button>
  </div>
</ng-template>

<button
  class="btn btn-outline-primary mb-2 me-2"
  (click)="openVerticallyCentered(content)"
>
  Modal vertically centered
</button>
