@import "./../../../../assets/styles/colors.scss";

.sidebar-item {
  display: flex;
  background-color: $bg-card;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  font-size: 24px;
  margin: 10px auto 10px;

  &:hover {
    background-color: lighten($bg-card, 10%);
  }
}

.active {
  border: 1px solid $primary;
  //path {fill: $primary;} //broken
}
