<div class="vstack">
  <div class="hstack">
    <div class="input-group">
      <!--SEARCH-->
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon1"
      >
        All
      </button>
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
      />
    </div>
    <button class="btn btn-primary">Add_New</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Target</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ job.name }}</td>
        <td>
          <span
            class="chip mx-1"
            [ngClass]="{
              'chip-waiting': job.status === 'waiting',
              'chip-running': job.status === 'running',
              'chip-success': job.status === 'success',
              'chip-failure': job.status === 'failed'
            }"
          >
            {{ job.status }}
          </span>
        </td>
        <td>
          <ng-container *ngFor="let target of job.target">
            <span class="chip chip-blue mx-1">
              {{ target }}
            </span>
          </ng-container>
        </td>
        <td>
          <span>{{ job.time_start | date : "dd.MM.yy" }}</span>
          <span> - </span>
          <span class="text-white">{{ job.time_start | date : "HH:mm" }}</span>
          <ng-container *ngIf="job.time_end">
            <i> => </i>
            <!--replece with icon-->
            <span class="text-white">{{ job.time_end | date : "HH:mm" }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img
            [src]="
              'https://upload.wikimedia.org/wikipedia/commons/' + country.flag
            "
            class="me-2"
            style="width: 20px"
          />
          {{ country.name }}
        </td>
        <td>{{ country.area | number }}</td>
        <td>{{ country.population | number }}</td>
      </tr>
    </tbody>
  </table>
  -->

<!--
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Group</th>
        <th scope="col">Config</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let machine of machines; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ machine.name }}</td>
        <td>{{ machine.description }}</td>
        <td>
          <ng-container *ngFor="let group of machine.group">
            <span class="badge text-bg-primary mx-1">{{ group }}</span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let configItem of machine.config">
            <span class="chip chip-primary mx-1">{{ configItem }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>-->
