<app-datagrid>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time</th>
      <!-- <th scope="col">Target</th>
      <th scope="col">Status</th> -->
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td id="Time">
        <span>{{ log.time | date : "yyyy.MM.dd" }}</span>
        <span class="text-info px-1">:</span>
        <span class="text-white">{{ log.time | date : "HH:mm" }}</span>
      </td>
      <!-- <td>
        <span class="chip chip-blue">{{ log.target }}</span>
      </td>
      <td>
        <span
          class="chip mx-1"
          [ngClass]="{
            'chip-purple': log.status === 'waiting',
            'chip-yellow': log.status === 'running',
            'chip-green': log.status === 'success',
            'chip-red': log.status === 'failed'
          }"
        >
          {{ log.status }}
        </span>
      </td> -->
      <td>
        <span class="chip chip-gray">{{ log.message }}</span>
      </td>
    </tr>
  </tbody>
</app-datagrid>
