<div class="d-flex justify-content-center align-items-center gap-5" style="height: 80vh;">
  <div class="left parent">
    <div class="hstack gap-3" id="stats-pack" >
      <div class="vstack gap-3">
        <app-card-stats [label]="'Active PCs'" [stat]="pcActive" [route]="'../machines'"/>
        <app-card-stats [label]="'Configs'" [stat]="configs" [route]="'../configs'"/>
        <app-card-stats [label]="'Users'" [stat]="users" [route]="'../users'"/>
      </div>
      <div class="vstack gap-3">
        <app-card-stats [label]="'Disable PCs'" [stat]="pcDisable" [route]="'../machines'"/>
        <app-card-stats [label]="'Groups'" [stat]="groups" [route]="'../groups'"/>
        <app-card-stats [label]="'Jobs'" [stat]="jobs" [route]="'../jobs'"/>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="card bg-light rounded d-flex gap-3">
      <div class="header bg-dark rounded d-flex justify-content-center align-items-center">
        <i class="bi bi-terminal" style="font-size: 2em;"></i>
        <h1 class="ms-2">Log</h1>
      </div>
      <div class="data px-4 pb-3">
        <app-datagrid-logs/>
      </div>
    </div>
  </div>
</div>


<!-- <app-form-log/> -->
