$text-primary: #ffffff;
$text-secondary: #a4b1cd;
$my-primary: #9fef00;
$my-secondary: $text-secondary;
$bg-backgroud: #141d2b;
$bg-card: #1a2332;
$bg-field: #111927;
$bg-sep: #18202f;

$roundness: 0.5em;

.section {
  border: 1px solid $bg-sep;
  border-radius: $roundness;
}

.header {
  background-color: $bg-field;
  border-radius: $roundness $roundness 0 0;
  padding: 0.2em 0.6em;
  margin-bottom: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  background-color: $bg-backgroud;
  border-radius: $roundness;
  padding: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
