<!-- <div style="width: 1px; height: 100%;"></div> -->
<div class="container-fluid g-0">
  <div class="row g-0">
    <div class="col-auto">
      <app-sidebar/>
    </div>
    <div class="col">
      <header class="bg-dark text-white" style="height: 51px">
        <div class="container-fluid">
            <h1 class="text-center">Settings</h1>
        </div>
      </header>
      <router-outlet></router-outlet>
      <!-- <app-datagrid/>
      <app-form-config/> -->
      <app-section label="Job stats: 24 h">
        <app-card-stats label="Active" [stat]="40"/>
        <app-card-stats label="Disable" [stat]="40"/>
        <app-card-stats label="Broken" [stat]="40"/>
      </app-section>
    </div>
  </div>
</div>
