


<div class="container-fluid g-0">
  <div class="row g-0">
    <div class="col-auto">
      <app-sidebar/>
    </div>
    <div class="col">
      <header class="bg-dark text-white" style="height: 51px">
        <div class="container-fluid">
            <h1 class="text-center">Settings</h1>
        </div>
      </header>
      <router-outlet></router-outlet>
      <!-- <app-card-stats/> -->
      <!-- <app-datagrid/> -->
      <!-- <app-page-dashboard/> -->
      <app-form-config/>
      <app-input-path/>
    </div>
  </div>
</div>
