$text-primary: #ffffff;
$text-secondary: #a4b1cd;
$my-primary: #9fef00;
$my-secondary: $text-secondary;
$bg-backgroud: #141d2b;
$bg-card: #1a2332;
$bg-field: #111927;
$bg-sep: #18202f;
$blue: #0086ff;
$yellow: #ffaf00;
$purple: #9f00ff;
$red: #ff3e3e;
$green: #2ee7b6;
