@font-face {
  font-family: "NHUnica";
  src: url(./NeueHaasUnica-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Zeitung";
  src: url(./ZeitungMonoPro-SemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
