<label for="input-multiselect" class="form-label">{{ label }}</label>
<input
  id="input-multiselect"
  type="text"
  class="form-control"
  [(ngModel)]="selectedItem"
  [ngbTypeahead]="search"
  (selectItem)="onSelectItem($event)"
  [resultFormatter]="resultFormatter"
  [inputFormatter]="inputFormatter"
  [id]="fieldName"
  [name]="fieldName"
  [value]="selectedItems"
/>
<div class="d-flex flex-wrap my-2 gap-2">
  <div *ngFor="let item of selectedItems; let i = index" class="chip chip-blue">
    {{ item.name }}
    <button type="button" class="btn-close" (click)="removeItem(i)"></button>
  </div>
</div>
