<app-datagrid>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">JobId</th>
      <th scope="col">Status</th>
      <th scope="col">Target</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs; index as i" (click)="editJob(job)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ job.id }}</td>
      <td>
        <span class="chip mx-1 chip-purple" *ngIf="job.status == 0"
          >waiting</span
        >
        <span class="chip mx-1 chip-yellow" *ngIf="job.status == 1"
          >running</span
        >
        <span class="chip mx-1 chip-green" *ngIf="job.status == 2"
          >success</span
        >
        <span class="chip mx-1 chip-red" *ngIf="job.status == 3">failed</span>
      </td>
      <td>
        <span class="chip chip-purple">{{ job.target }}</span>
      </td>
      <td>
        <span>{{ job.time_Start | date : "dd.MM.yy" }}</span>
        <span class="text-info"> - </span>
        <span class="text-white">{{ job.time_Start | date : "HH:mm" }}</span>
        <ng-container *ngIf="job.time_End">
          <!-- <i class="bi bi-chevron-double-right"></i> -->
          <i class="bi bi-arrow-right-short text-info"></i>
          <span class="text-white">{{ job.time_End | date : "HH:mm" }}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</app-datagrid>
