<app-datagrid>
  <thead class="table-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Target</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs; index as i" (click)="editJob(job)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ job.id }}</td>
      <td>
        <span
          class="chip mx-1"
          [ngClass]="{
            'chip-purple': job.status === 0,
            'chip-yellow': job.status === 1,
            'chip-green': job.status === 2,
            'chip-red': job.status === 3
          }"
        >
          {{ job.status }}
        </span>
      </td>
      <td>
        <span class="chip chip-purple">{{ job.machine }}</span>
        <span class="chip chip-purple">{{ job.groups }}</span>
        <!--CHANGE: ID => NAME -->
      </td>
      <td>
        <span>{{ job.time_start | date : "dd.MM.yy" }}</span>
        <span class="text-info"> - </span>
        <span class="text-white">{{ job.time_start | date : "HH:mm" }}</span>
        <ng-container *ngIf="job.time_end">
          <!-- <i class="bi bi-chevron-double-right"></i> -->
          <i class="bi bi-arrow-right-short text-info"></i>
          <span class="text-white">{{ job.time_end | date : "HH:mm" }}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</app-datagrid>
