<app-form-core [title]=title [icon2]="'bi-terminal'">
  <form [formGroup]="form" class="row g-3" autocomplete="off">
    <!-- -->
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="name"
      label="Name"
      formControlName="name"
    />
    <app-input-text
      class="col-md-6"
      [parentForm]="form"
      fieldName="time"
      label="Time"
      formControlName="time"
    />
    <!-- -->
    <app-input-text-long
      [rows]="3"
      class="col-md-12"
      [parentForm]="form"
      fieldName="message"
      label="Message"
      formControlName="message"
    />
    <!-- -->
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="save()">
        Save
      </button>
    </div> -->
  </form>
</app-form-core>

<!--TODO:-->
<!--
  1. Time
  2. better formating
-->
