<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <a id="dropdownForm1" ngbDropdownToggle>
        <img src="\assets\svg\profile.svg" />
        <!-- <my-icon [name]="'profile'"/> IDK broken -->
      </a>
      <div ngbDropdownMenu style="background-color: #18202f; padding: 0.3em">
        <div
          class="flex-container g-0 ps-2 pl-1"
          style="justify-content: space-between"
        >
          <div>
            <span>{{ username }}</span>
          </div>
          <div class="hstack">
            <a (click)="openVerticallyCentered(content)">
              <my-icon [name]="'settings'" />
            </a>
            <a (click)="logout()">
              <!--TODO: unauthorized-->
              <my-icon [name]="'poweroff'" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title">My Account</h4>
  </div>
  <!-- <div class="d-flex justify-content-center align-items-center flex-row">
    <my-icon [name]="'profile'"/>
  </div> -->
  <!--Body-->
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off" class="row g-3">
      <app-input-text
        [label]="'Name'"
        [parentForm]="form"
        formControlName="name"
        fieldName="name"
        class="col-md-12"
      />
      <!-- -->
      <app-input-text
        [label]="'Email'"
        [parentForm]="form"
        formControlName="email"
        fieldName="email"
        [type]="'email'"
        class="col-md-12"
      />
      <!-- -->
      <app-input-cron
        [label]="'Interval'"
        [parentForm]="form"
        fieldName="interval_Report"
        formControlName="interval_Report"
        class="col-md-12"
      />
    </form>
  </div>
  <!--Footer-->
  <div class="modal-footer">
    <button
      class="btn btn-outline-primary"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</ng-template>
