@import "./../../../assets/styles/colors.scss";
#a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  gap: 12px;

  width: 227px;
  height: 136px;

  border-radius: 8px;
}

#a:hover {
  color: $my-primary;
  border: 1px solid $my-primary;
}
