<div class="g-0" style="max-width: 476px">
  <!-- broken pedding-->
  <!--box-sizing: border-box; max-width: 500px;-->
  <div id="logo" class="row g-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <img src="https://i.imgur.com/JRvgwTI.png" width="250px" />
      <!-- TODO: Add better quality -->
    </div>
  </div>
  <div id="form" class="row mt-3 p-4 rounded bg-light">
    <div class="col-12">
      <div id="title" class="col text-left mb-3 fs-5 text-white">
        <span>Sign in to your account</span>
      </div>
      <form>
        <app-input-fl-text [placeholder]="'name@example.com'"/>
        <app-input-fl-password/>
        <div
          class="mt-4 mb-2 w-100 d-inline-flex align-items-center justify-content-between"
        >
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Stay signed in</label
            >
          </div>
          <div class="d-flex align-items-end">
            <a
              class="link-opacity-50-hover text-decoration-none"
              (click)="openVerticallyCentered(content)"
              >Forgot your password?</a
            >
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100 btn-width"
          routerLink="./admin"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
  <div id="join" class="row mt-3 p-4 rounded bg-light">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
        <span class="text-left"> Don't have an account? </span>
        <button
          class="ml-auto btn btn-outline-secondary"
          (click)="openVerticallyCentered(content2)"
        >
          Ask admin
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Reset your password</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email</label>
      <button type="submit" class="btn btn-dark w-100 mt-2 mp-5 btn-width">
        Send request
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ask admin on:</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="d-flex mb-3 gap-3">
      <input
        type="email"
        class="form-control py-2"
        id="floatingInput"
        placeholder="name@example.com"
        value="admins@backcap.com"
        readonly
        id="email-input"
      />
      <button
        type="submit"
        class="outline-button"
        id="copy-button"
        (click)="copyToClipboard()"
      >
        <i class="bi bi-clipboard text-primary"></i>
      </button>
    </div>
  </div>
</ng-template>
